{% extends 'base.html' %}


{% block content %}
  <div class="container p-4">
    <div class="row row-cols-2">
      {% for item in items %}
        <div class="col p-2">
          <div class="card h-100 text-bg-light">
            <div class="card-header">
              <small>#{{ item._id }}</small>
            </div>
            <div class="row g-0">
              <div class="col-md-4">
                <img class="img-fluid rounded-start" src="../static/image/plate-640x480.jpg" alt="plate">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{ item.title }}</h5>
                  <p class="card-text">{{ item.description }}</p>
                </div>
              </div>
              <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ item._id }}" class="btn btn-success">Изменить карточку</a>
                <form>
                  <button type="submit" formmethod="POST" class="btn btn-primary" formaction="{{ item._id }}">{{ item.price }} руб.</button>
                </form>
                <form method="POST">
                <button type="submit" class="btn btn-success" formaction="{{ item._id }}">Удалить</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}