{% extends 'base.html' %}

{% block title %}
  {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
  <div class="container p-4 col-md-6">
    <form>
      <div class="col p-4 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <div class="m-2">
          <label for="username" class="form-label">Имя пользователя</label>
          <input type="text" class="form-control" id="username" name="username">
          <label for="password" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="col md-auto">
          <button type="submit" class="btn btn-primary" formmethod="POST" formaction="{{ url_for('login') }}">Войти
          </button>
        </div>
    </form>
  </div>
{% endblock %}