{% extends 'base.html' %}


{% block content %}
  <div class="container md-6 p-2">
    <table class="table table-striped">
      <thead class="table-dark">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Item ID</th>
        <th scope="col">User</th>
        <th scope="col">Order Time</th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      {% for order in orders %}
        <tr>
          <td>{{ order._id }}</td>
          <td>{{ order.item_id }}</td>
          <td>{{ order.username }}</td>
          <td>{{ order.time }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}