{% extends 'base.html' %}


{% block content %}
  <div class="container p-4">
    <div class="col p-2">
      <div class="card h-100 text-bg-light">
        <div class="card-header">
          <small>#{{ item._id }}</small>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid rounded-start" src="../static/image/plate-640x480.jpg" alt="plate">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <p class="card-text text-primary fs-3"><b>{{ item.price }} р.</b></p>
            </div>
          </div>
          <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
            <form>
              <button type="submit" formmethod="POST" class="btn btn-success"
                      formaction="{{ url_for('order_create', id=item._id) }}">Заказать
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}